* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Design página criar login*/
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(45deg, #FFC857, #C05C5C, #1C5D99, #3D9970);
}

body * {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: black;
}

.login-criar {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 30px;
    border: 1px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-criar h2{
    margin-bottom: 20px;
}

.login-criar label {
    display: block;
    margin: 15px 0 5px;
}

.login-criar input {
    display: block;
    width: calc(100% - 22px);
    margin: 0 auto 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-criar input:focus {
    border-color: #000000;
    box-shadow: 0 0 5px rgba(208, 221, 131, 0.171);
    outline: none;
}

/* Design usado no botão criar*/
.styled-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 16px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    text-transform: uppercase;
    margin: 0 auto;
}

.styled-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.styled-button:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.styled-button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/*Design falando do minímo de caracteres*/
.login-criar small {
    display: block;
    margin-bottom: 15px;
    font-size: 13px;
    color: black;
    text-align: left;
}

/* CSS do rodapé*/
footer {
    margin-top: 12px;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}